@model Contactus;
@{
    ViewData["Title"] = "DIGIWHIZ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml"; 
}
<link rel="stylesheet" href="~/css/contactUs.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<div class="div">
    <!-- Banner Section -->
    <div class="div-10">
        <img loading="lazy" src="../wwwroot/images/innerBanner.png" class="img-3" alt="Inner Banner" />
        <div class="div-11">Contact Us</div>
    </div>

    <!-- Contact Us Form -->
    <form class="container" id="contactForm" asp-action="SubmitContactForm" asp-controller="Contactus" method="post">
        <div class="fields d-flex justify-content-between">
            <div class="child-fields col-lg-6 mr-4">
                <input type="text" asp-for="FirstName" class="div-16" placeholder="First name" id="firstName" />
                <div id="firstNameError" class="error-message" style="display: none;">First name is required</div>
            </div>
            <div class="child-fields col-lg-6">
                <input type="text" asp-for="LastName" class="div-16" placeholder="Last name" id="lastName" />
                <div id="lastNameError" class="error-message" style="display: none;">Last name is required</div>
            </div>
        </div>

        <div class="fields d-flex justify-content-between">
            <div class="child-fields col-lg-6 mr-4">
                <input type="email" asp-for="Email" class="div-16" placeholder="Email address" id="email" />
                <div id="emailError" class="error-message" style="display: none;">Please enter a valid email</div>
            </div>
            <div class="child-fields col-lg-6">
                <input type="tel" asp-for="MobileNo" class="div-16" placeholder="Contact number" id="contactNumber" />
                <div id="contactNumberError" class="error-message" style="display: none;">Please enter a valid contact number</div>
            </div>
        </div>

        <div class="div-20">
            <textarea class="div-16" asp-for="Query" placeholder="Type your message here..." id="message"></textarea>
            <div id="messageError" class="error-message" style="display: none;">Message is required</div>
        </div>

        <button type="submit" class="div-22">Submit</button>
    </form>
</div>


<link rel="stylesheet" href="~/css/contactUs.css" />


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="~/js/contactUs.js"></script>
